/**
*
* @format
*/

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Marine blue: hsl(213, 96%, 18%)
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)

### Neutral

- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu)
- Weights: 400, 500, 700 */

/* ========================== */

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  transition: 0.2s ease-in-out;
}

:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  /* =============================== */

  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

/* ============== General Styling =============  */

.border-gray {
  border: 2px solid var(--light-gray);
  border-radius: 8px;
}

.border-gray.active {
  border: 2px solid var(--marine-blue);
  background-color: var(--Magnolia);
}

.border-gray:hover {
  border: 2px solid var(--marine-blue);
}

.text-marine-blue {
  color: var(--marine-blue);
}

.text-cool-gray {
  color: var(--cool-gray);
}

.text-purplish-blue {
  color: var(--purplish-blue);
}

.bg-magnolia {
  background-color: var(--Magnolia);
}

.text-red {
  color: red;
}

.cursor-pointer {
  cursor: pointer;
}

.back-btn:hover {
  color: var(--marine-blue);
  font-weight: bold;
}

.form button:hover {
  background-color: var(--pastel-blue);
  color: var(--white);
}

/* ============= Progress  ==================  */

.top-half {
  background-image: url("../assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
  padding-bottom: 100px;
}

@media (min-width: 768px) {
  .top-half {
    border-radius: 8px;
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    width: 50%;
  }
}

.progress-numbers small {
  padding: 5px 12px;
  background: transparent;
  border-radius: 90px;
  border: 1.5px solid var(--pastel-blue);
  color: var(--pastel-blue);
  font-weight: bolder;
  transition: 0.4s ease-in-out;
}

.progress-numbers small.active {
  background-color: var(--pastel-blue);
  color: var(--marine-blue);
}

/* ========= Form ===========  */

.form {
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  width: 90%;
  max-width: 550px;
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 8px;
  text-align: left;
}

@media (min-width: 768px) {
  .form {
    position: relative;
    top: 0;
    max-width: unset;
    height: 100%;
  }
}

.form h1 {
  color: var(--marine-blue);
  padding: 10px 0;
  font-size: 1.8em;
}

.form button {
  background-color: var(--marine-blue);
  color: var(--white);
}

.layout {
  min-height: 100vh;
  padding-bottom: 600px;
}

.inner-layout {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--white);
}

@media (min-width: 768px) {
  .inner-layout {
    height: 700px;
  }
}

@media (min-width: 768px) {
  .inner-layout {
    max-width: 1000px;
  }
}

.back-next {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .back-next {
    position: absolute;
    bottom: 0;
  }
}

/* ===================== first-page ================  */

/* ===================== second-page ================  */

.slider {
  background-color: var(--marine-blue);
  height: 20px;
  width: 45px;
  position: relative;
  cursor: pointer;
}

.slider input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 0;
  height: 0;
}

.slider::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 7%;
  height: 14px;
  width: 15px;
  border-radius: 30px;
  background-color: var(--white);
  transition: 0.4s ease-in-out;
}

.slider.active::before {
  transform: translateX(24px);
}

/* ===================== fourth-page ================  */

.fourth-page > div:nth-of-type(1) {
  background-color: var(--Magnolia);
}
